@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkGray: #555;
    --bgColor: #FFFBF2;
    --goldColor: #DA9F5B;
    --titleColor: #33211D;
    --whiteColor: #ffffff;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    background-color:  #FFFBF2;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: #33211D;
}

h1 {
    font-size: calc(2.36rem + 2.7vw);
}

h4 {
    color: #DA9F5B;
    letter-spacing: .5rem;
    font-size: calc(2.04rem + .3vw);
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-size: 1.6rem;
}

.big-title {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.2;
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #555;
    padding: .6rem 1.2rem;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.btn-primary {
    background-color: #DA9F5B;
    color: #212529;
}

.btn-primary:hover {
    background-color: #d38d3c;
}

.btn-secondary {
    background-color: #33211D;
    color: #ffffff;
}

section {
    padding: 4.8rem 0;
}

.overlay {
    position: relative;
}

.overlay-bottom::after,
.overlay-top::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5rem;
}

.overlay-bottom::after {
    background: url(../img/overlay-bottom.png);
    bottom: -.1rem;
}

.overlay-top::before {
    background: url(../img/overlay-top.png);
    top: -.1rem;
}

.form-control {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    columns: 200px 3;
    background-color: #ffffff;
    border: 0.1rem solid #ced4da;
    padding: 2.4rem;
    height: 6rem;
    outline: none;
}

input:focus::placeholder {
    opacity: 0;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container-fluid {
    width: 100% !important;
}

@media(min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/*Start Nav Bar*/
nav {
    position: relative;
    background-color: #33211D;
    padding: .8rem 1.6rem;
    z-index: 9999;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container h1 {
    color: #ffffff;
    text-transform: uppercase;
}

nav .container .menu-bar .toggle-btn {
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

nav .container .menu-bar ul {
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    background-color: #33211D;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all .5s ease-in-out;
}

nav .container .menu-bar ul.active {
    top: 5.6rem;
    visibility: visible;
    opacity: 1;
}

nav .container .menu-bar ul li a {
    display: block;
    padding: .8rem 1.6rem;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    color: #FFFBF2;
    transition: all .3s ease-in-out;
}

nav .container .menu-bar ul li a:hover,
nav .container .menu-bar ul li a.active {
    color: #DA9F5B;
}

/*End Nav Bar*/
/*Start Header Section*/
header {
    position: relative;
    background: url(../img/carousel-2.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 4rem 0;
    margin-bottom: 4.8rem;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 33, 29, 0.7);
}

header .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header .container .hero-text {
    padding: 2rem 0;
}

header .container .hero-text h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

header .container .hero-text h2 {
    font-weight: 500;
    color: #DA9F5B;
    font-size: calc(2.12rem + .9vw);
    text-transform: capitalize;
}

header .container .hero-text h3 {
    color: #ffffff;
    font-size: calc(2.12rem + .9vw);
    text-transform: uppercase;
}

/*End Header Section*/
/*Start About Section*/
.title {
    position: relative;
    text-align: center;
    padding: 11.5rem 0 3.5rem 0;
}

.title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: .2rem;
    height: 10rem;
    margin: .1rem;
    background-color:#DA9F5B;
}

.title h4 {
    margin-bottom: .8rem;
}

.title h1 {
    text-transform: capitalize;
}

.about-us .container .row {
    display: flex;
    flex-direction: column;
}

.about-us .container .row .col {
    padding: 0 1.5rem;
}

.about-us .container .row .col h3 {
    font-size: calc(2.2rem + 1.5vw);
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1.6rem;
}

.about-us .container .row .col h5 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
}

.about-us .container .row .col p {
    margin-bottom: 1.6rem;
}

.about-us .container .row .col:nth-child(2) {
    min-height: 50rem;
    padding: 4.8rem 0;
}

.about-us .container .row .col .image-inner {
    position: relative;
    height: 100%;
}

.about-us .container .row .col .image-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us .container .row .col h5 i {
    color: #DA9F5B;
    margin-right: 1.6rem;
}

.about-us .container .row .col .btn-primary {
    margin-top: .8rem;
}

/*End About Section*/
/*Start Services Section*/
.services .container .row .col {
    padding: 0 1.5rem;
    margin-bottom: 4.8rem;
}

.services .container .row .col .box img {
    margin-bottom: 1.6rem;
    max-width: 100%;
}

.services .container .row .col .box-text h3 {
    display: flex;
    align-items: center;
    color: #33211D;
    font-size: calc(2.04rem + .3vw);
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: .8rem;
}

.services .container .row .col .box-text h3 i {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #DA9F5B;
    color: #33211D;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
}

/*End Services Section*/
/*Start Offer Section*/
.offer {
    position: relative;
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../img/bg.jpg) no-repeat;
    background-position: top;
    background-size: cover;
}

.offer .container {
    position: relative;
    padding: 4.8rem 1.5rem;
    text-align: center;
}

.offer .container h1 {
    font-size: calc(2.52rem + 3.9vw);
    font-weight: 700;
    color: #DA9F5B;
    margin-top: 1.6rem;
    margin-bottom: .8rem;
}

.offer .container h2 {
    font-size: calc(2.2rem + 1.5vw);
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 1.6rem;
}

.offer .container h3 {
    font-size: calc(2.04rem + .3vw);
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 1.6rem;
    margin-bottom: 2.4rem;
}

.offer .container form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
}

.offer .container form .input-group {
    position: relative;
    width: 100%;
}

.offer .container form button {
    margin-left: -0.3rem;
    height: 6rem;
}

/*End Offer Section*/
/*Start Menu Section*/
.menu .container .row {
    display: flex;
    flex-direction: column;
}

.menu .container .row .col {
    padding: 0 1.5rem;
}

.menu .container .row .col h2 {
    font-size: calc(2.2rem + 1.5vw);
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 4.8rem;
}

.menu .container .row .col .menu-box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 4.8rem;
}

.menu .container .row .col .menu-box .menu-img {
    position: relative;
    padding-right: 1.5rem;
}

.menu .container .row .col .menu-box .menu-img img {
    max-width: 100%;
    border-radius: 50%;
}

.menu .container .row .col .menu-box .menu-img .menu-price {
    position: absolute;
    top: -1.1rem;
    right: .2rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #DA9F5B;
    color: #33211D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
}

.menu .container .row .col .menu-box .menu-details h3 {
    font-size: calc(2.04rem + .3vw);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: .8rem;
}


/*Start Testimonials Section*/
.testimonials .container .row .testimonial {
    padding-right: 2.5rem;
}

.testimonials .container .row .testimonial .testimonial-top {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}

.testimonials .container .row .testimonial .testimonial-top img {
    width: 8rem;
    height: 8rem;
}

.testimonials .row .testimonial .testimonial-top .testimonial-info h3 {
    font-size: calc(2.04rem + .3vw);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: .8rem;
}

.testimonials .row .testimonial .testimonial-top .testimonial-info i {
    font-size: 1.6rem;
    text-transform: capitalize;
}

/*End Testimonials Section*/
/*Start Slider Section*/
.swiper {
    padding-bottom: 5rem;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination-bullet {
    width: 2rem;
    height: 2rem;
    background-color: #DA9F5B;
    opacity: 1;
    margin: 0 .5rem !important;
}

.swiper-pagination-bullet-active {
    background-color: #33211D;
}
/*End Slider Section*/

/*Start Footer Section*/
footer {
    position: relative;
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../img/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 4.8rem 0 0 0;
}

footer .container {
    padding-top: 4.8rem;
}

footer .container .row {
    color: #ffffff;
}

footer .container .row .col .box {
    margin-bottom: 4.8rem;
}

footer .container .row .col .box h3 {
    font-size: calc(2.045rem + .3vw);
    font-weight: 500;
    color: #ffffff;
    letter-spacing: .3rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

footer .container .row .col .box ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

footer .container .row .col .box ul li {
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: 1.6rem;
}

footer .container .row .col .box h6 {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: .8rem;
}

footer .container .row .col .box p {
    margin-bottom: 1.6rem;
}

footer .container .row .col .box .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
}

footer .container .row .col .box .social-media li {
    width: 4.6rem;
    height: 4.6rem;
    border: .1rem solid #ffffff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

footer .container .row .col .box .social-media li:hover {
    background-color: #ffffff;
    color: #33211D;
}

footer .container .row .col .box form .form-group {
    display: flex;
    align-items: center;
}

footer .container .row .col .box form .form-group input {
    width: 100%;
    height: 5rem;
    border: none;
    padding: 2.5rem;
}

footer .container .row .col .box form .form-group button {
    width: 15rem;
    height: 5rem;
}



.top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DA9F5B;
    color: #33211D;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    animation: up-down 2s ease infinite;
    transition: all .3s ease;
}

.top.show {
    visibility: visible;
    opacity: 1;
}

@keyframes up-down {

    0%,
    100% {
        bottom: 3rem;
    }

    50% {
        bottom: 5rem;
    }

}

/*End Footer Section*/
/*Responsive*/
@media(min-width: 576px) {
    header {
        padding: 7rem 0;
    }

    .services .container .row .col {
        display: flex;
        padding: 0;
    }

    .services .container .row .col .box {
        flex: 0 0 41.66667%;
        padding-right: 1.5rem;
    }

    .services .container .row .col .box-text {
        flex: 0 0 58.3333%;
        padding-left: 1.5rem;
    }

    .services .container .row .col .box img {
        margin-bottom: 0;
    }
}

@media(min-width: 768px) {
    header {
        padding: 13rem 0;
    }

    footer .container .row {
        display: flex;
    }

    footer .container .row .col {
        flex: 0 0 50%;
    }
}

@media(min-width: 992px) {
    nav {
        background: transparent;
        padding: 1.6rem;
    }

    nav .container .menu-bar .toggle-btn {
        display: none;
    }

    nav .container .menu-bar ul {
        position: relative;
        top: auto;
        flex-direction: row;
        padding: 2.4rem;
        background-color: transparent;
        visibility: visible;
        opacity: 1;
    }

    header {
        padding: 19rem 0;
        margin-top: -12.6rem;
    }

    header .container .hero-text h1 {
        font-size: calc(3.08rem + 8.1vw);
    }

    .about-us .container .row {
        flex-direction: row;
    }

    .about-us .container .row .col {
        flex: 0 0 33.3333%;
        padding: 4.8rem 0;
    }

    .about-us .container .row .col:nth-child(1) {
        padding-right: 1.5rem;
    }

    .about-us .container .row .col:nth-child(2) {
        padding: 0rem 1.5rem;
    }

    .about-us .container .row .col:nth-child(3) {
        padding-left: 1.5rem;
    }

    .services .container .row {
        display: flex;
        flex-wrap: wrap;
    }

    .services .container .row .col {
        flex: 0 0 50%;
    }

    .services .container .row .col:nth-child(odd) {
        padding-right: 1.5rem;
    }

    .services .container .row .col:nth-child(even) {
        padding-left: 1.5rem;
    }

    .menu .container .row {
        flex-direction: row;
    }

    .menu .container .row .col {
        flex: 0 0 50%;
        padding: 0 1.5rem;
    }

    .reservation .container .row {
        display: flex;
    }

    .reservation .container .row .col {
        flex: 0 0 50%;
    }

    footer .container .row .col {
        display: flex;
        gap: 1.5rem;
    }

    footer .container .row .col .box {
        flex: 0 0 50%;
    }
}

@media(min-width: 1200px) {
    header {
        height: 100vh;
    }

    header .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-size: 5.6rem;
    }

    header .container .hero-text h1 {
        font-size: 12.8rem;
    }

    header .container .hero-text h2,
    header .container .hero-text h3 {
        font-size: 3.2rem;
    }

    h4,
    .offer .container h3,
    .menu .container .row .col .menu-box .menu-details h3 {
        font-size: 2.4rem;
    }

    .offer .container h2,
    .menu .container .row .col h2,
    .reservation .container .row .col .reserve-info h2,
    .reservation .container .row .col h3 {
        font-size: 4rem;
    }

    .about-us .container .row .col h5,
    .about-us .container .row .col p {
        max-width: 35rem;
    }

    .about-us .container .row .col {
        padding: 4.8rem 1.5rem;
    }
}

.reservation {
    position: relative;
}

.reservation.overlay-top::before {
    top: 4.7rem;
    z-index: 1;
}

.reservation.overlay-bottom::after {
    bottom: 4.7rem;
}

.reservation .container .row .col {
    padding: 4.8rem;
}

.reservation .container .row .col-1 {
    position: relative;
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../img/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

.reservation .container .row .col-2 {
    position: relative;
    background-color: var(--titleColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservation .container .row .col .reserve-info {
    margin: 4.8rem 0;
}

.reservation .container .row .col .reserve-info h1 {
    font-size: calc(2.52rem + 3.9vw);
    font-weight: 700;
    color: var(--goldColor);
    margin-bottom: .8rem;
}

.reservation .container .row .col .reserve-info h2 {
    font-size: calc(2.2rem + 1.5vw);
    font-weight: 700;
    color: var(--whiteColor);
    text-transform: capitalize;
    margin-bottom: 2.4rem;
}

.reservation .container .row .col .reserve-info p {
    color: var(--whiteColor);
    margin-bottom: 1.6rem;
}

.reservation .container .row .col .reserve-info ul {
    display: flex;
    flex-direction: column;
}

.reservation .container .row .col .reserve-info ul li {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.6rem;
    color: var(--whiteColor);
    padding: .8rem 0;
}

.reservation .container .row .col .reserve-info ul li i {
    color: var(--goldColor);
}

.reservation .container .row .col h3 {
    font-size: calc(2.2rem + 1.5vw);
    font-weight: 700;
    color: var(--whiteColor);
    text-transform: capitalize;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
}

.reservation .container .row .col form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
}

.reservation .container .row .col form input,
.reservation .container .row .col form select {
    width: 100%;
    height: 5rem;
    border: .1rem solid var(--goldColor);
    background: transparent;
}

.reservation .container .row .col form input:focus {
    box-shadow: 0 0 0 0.2rem rgba(218 159 91 / 25%);
}

.reservation .container .row .col form input {
    padding: 2.4rem;
}

.reservation .container .row .col form select {
    padding: 0 2.4rem;
}

.reservation .container .row .col form button {
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

/*登录表格*/
.login-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem;
}

.login-form.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.login-form form {
    width: 50rem;
    padding: 4rem;
    background: #fff;
    text-align: center;
    position: relative;
    -webkit-animation: fadeIn .2s linear;
    animation: fadeIn .2s linear;
}

.login-form form #close-login-form {
    position: absolute;
    top: -4rem;
    right: 0;
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
}

.login-form form #close-login-form:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.login-form form .logo {
    font-size: 2.5rem;
    color: #512a10;
    font-weight: bolder;
}

.login-form form h3 {
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: #222;
    margin-top: 1rem;
}

.login-form form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #512a10;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.login-form form .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
    margin: 1rem 0;
}

.login-form form .flex label {
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
    cursor: pointer;
}

.login-form form .flex a {
    font-size: 1.5rem;
    color: #512a10;
    margin-left: auto;
}

.login-form form .flex a:hover {
    text-decoration: underline !important;
}

.login-form form .link-btn {
    width: 100%;
    margin-bottom: 2rem;
}

.login-form form .account {
    padding: 1.5rem .5rem;
    background: #eee;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
}

.login-form form .account a {
    color: #512a10;
}

.login-form form .account a:hover {
    text-decoration: underline !important;
}
